.title{
    font-size: 20px;
    font-weight:30px;
    font-style: bold;
    

}
.price{
     font-size: 20px;
    font-weight:30px;
    font-style: bold;
    color:blue
}
.avail{
     font-size: 20px;
    font-weight:30px;
    font-style: bold;
    color:green;

}
.container{
    
    border:4px solid black;
    display: flex ;
    flex-direction:column;

}
.stock{
    color:green;
}
.instock{
    color:red;
}


